body{
  background-color: hotpink;
  padding:0px;
  margin:0px;
}

.position{
  width:250px;
  height:200px;
  position:relative;
  background-color:red;
  top: 100px;
}

.thecond_position{
  width:100px;
  height:50px;
  position:absolute;
  background-color:green;
  left:;
  top:50px;
}
